[Unit]
Description=Gunicorn instance to serve MaogeToolbox
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/www/MaogeToolbox
Environment="PATH=/var/www/MaogeToolbox/venv/bin"
ExecStart=/var/www/MaogeToolbox/venv/bin/gunicorn -c gunicorn.conf.py app:app
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
